    @media only screen and (max-width: 767px) {
        body {
            margin: 0;
            padding: 0;
            font-family: 'Amiri', serif;
        }
        .magnified {
            margin-left: auto;
            padding: 5px;
        }
        .magnifier {
            /* margin-top: 14px;
        margin-left: 800px;
        height: 26px;
        width: 26px; */
            display: none;
        }
        .header-container {
            position: relative;
        }
        .text-block {
            position: absolute;
            top: 140px;
            right: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .video-caption {
            margin: 20px;
            text-align: center;
        }
        .rounded-btn {
            border-radius: 16px;
            border: none;
            width: 120px;
        }
        a {
            text-decoration: none;
        }
        .header-img {
            width: 100%;
            height: 373px;
            object-fit: cover;
        }
        .video {
            width: 100%;
        }
        .tournament-cover {
            padding: 0 0 20px 0;
            object-fit: cover;
        }
        .tournament-text {
            margin-top: auto;
            padding: 20px;
        }
        .tournament-cover {
            width: 100%;
            padding: 0 0 20px 0;
        }
        .tournament-text {
            margin-top: auto;
            padding: 20px;
        }
        .padding-s {
            padding: 10px;
        }
        .button-header {
            position: absolute;
            /* margin: 50px; */
            top: 100px;
            right: 10px;
            /* display: none; */
        }
        .world-text {
            padding: 20px;
            margin-right: auto;
            margin-top: 30px;
            text-align: center;
        }
        .contact-form {
            /* display: none; */
            /* height: 800px; */
            margin-bottom: 100px;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width:1024px) {
        body {
            margin: 0;
            padding: 0;
            /* font-family: 'Amiri', serif; */
        }
        .magnified {
            padding-left: 460px;
        }
        .magnifier {
            /* margin-top: 14px;
        margin-left: 800px;
        height: 26px;
        width: 26px; */
            display: none;
        }
        .header-container {
            position: relative;
        }
        .text-block {
            position: absolute;
            top: 140px;
            right: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .rounded-btn {
            border-radius: 16px;
            border: none;
            width: 120px;
        }
        a {
            text-decoration: none;
        }
        .commercial-video {
            padding: 50px;
            display: flex;
        }
        .video {
            width: 70%;
        }
        .video-caption {
            margin: auto;
            padding: 50px;
            display: inline-grid;
        }
        .header-img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
        .cards-items {
            display: flex;
        }
        .card-row {
            display: block;
        }
        .tournament-cover {
            padding: 0 0 20px 0;
            object-fit: cover;
        }
        .tournament-text {
            margin-top: auto;
            padding: 20px;
        }
        .tournament-items {
            padding-left: 40px;
            display: flex;
        }
        .tournament-cover {
            width: 500px;
            height: 100%;
        }
        .padding-s {
            padding: 10px;
        }
        .tournament-text {
            margin-top: auto;
            padding: 20px;
        }
        .world-text {
            padding: 20px;
            margin-left: auto;
            margin-top: 30px;
            text-align: center;
        }
        .button-header {
            position: absolute;
            top: 100px;
            right: 0;
        }
        .inside-text {
            padding-left: 46px;
        }
        .nav-items {
            text-align: end;
        }
    }
    
    @media only screen and (min-width:1025px) {
        body {
            margin: 0;
            padding: 0;
            font-family: 'Amiri', serif;
        }
        .nav-items {
            margin-left: 90px;
        }
        .magnifier {
            margin-top: 14px;
            margin-left: 800px;
            height: 26px;
            width: 26px;
            /* display: none; */
        }
        .magnified {
            /* margin-top: 14px;
        margin-left: 800px;
        height: 26px;
        width: 26px; */
            display: none;
        }
        .button-header {
            position: absolute;
            top: 100px;
            right: 0;
            /* display: none; */
        }
        .header-container {
            position: relative;
        }
        .text-block {
            position: absolute;
            top: 200px;
            right: 0;
            bottom: 280px;
            right: 80px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .rounded-btn {
            border-radius: 16px;
            border: none;
            width: 120px;
        }
        a {
            text-decoration: none;
        }
        .commercial-video {
            padding: 50px;
            margin-top: 300px;
            display: flex;
        }
        .video {
            width: 70%;
        }
        .video-caption {
            margin: auto;
            display: inline-grid;
        }
        .header-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .cards-items {
            display: flex;
        }
        .card-row {
            display: block;
        }
        .carousel {
            width: 100%;
            height: 110vh;
        }
        .carousel-caption {
            padding-top: 100px;
        }
        .carousel-item img {
            height: 120%;
            width: 100%;
        }
        .carousel-item {
            height: 110vh;
        }
        .tournament-items {
            display: flex;
        }
        .tournament-cover {
            width: 100%;
            height: 500px;
            padding-left: 110px;
            /* padding: 0 0 20px 0; */
        }
        .tournament-text {
            margin-top: auto;
            padding-left: 20px;
        }
        .inside-text {
            padding-left: 110px;
        }
        .float-right {
            float: right;
        }
        .world-text {
            padding: 20px;
            margin-left: auto;
            margin-top: 30px;
            padding: 60px 80px 40px 0px;
            float: right;
            text-align: end;
        }
    }
    
    .rounded-btn {
        border-radius: 16px;
        border: none;
        width: 120px;
    }
    
    a {
        text-decoration: none;
    }
    
    .nav-color {
        color: #FFFF;
    }
    
    @media only screen and (width:1024px) {
        .nav-items {
            padding-left: 60px;
        }
    }
    
    @media only screen and (width:992px) {
        /* .nav-items {
            padding-left: 60px;
        } */
        body {
            width: 60%;
        }
    }